body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:10px;
  width:183px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:50px;
  top:196px;
  width:73px;
  height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:375px;
  top:214px;
  width:500px;
  height:588px;
  font-size:14px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:588px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:214px;
  width:315px;
  height:560px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:560px;
}
#u7 {
  position:absolute;
  left:2px;
  top:272px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:945px;
  top:196px;
  width:73px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1270px;
  top:214px;
  width:500px;
  height:892px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:892px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:41px;
  width:1190px;
  height:80px;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:80px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:945px;
  top:214px;
  width:313px;
  height:556px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:556px;
}
#u15 {
  position:absolute;
  left:2px;
  top:270px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
